:host {
  display: block;
}

.root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.render-view-panel {
  position: relative;
  flex: 1 1 0;
  background-color: black;

  .render-view-panel__canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.isf-input-slots-panel {
  box-sizing: border-box;
  flex: 0 0 var(--size-12);
  padding: var(--size-2);
}

.isf-input-slots {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: var(--size-2);
}
